.page-row {
  display: flex;
  align-items: center;
}
.page-children {
  padding: 18px;
}
.page-content {
  padding: 18px;
  background: #fff;
}
.page-form-inline {
  margin-bottom: -15px !important;
}
.page-form-inline .ant-form-item{
  margin-bottom: 15px !important;
}